*{
    padding: 0;
    margin: 0;
    /* font-family: "Commissioner", serif; */
}
ol,ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

}
a{
    text-decoration: none;

}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
    line-height: 0.8;
}
/* ===== navbar part start here ===== */
.navbar{
    padding: 26px 0;
}
.navbar-brand{
    margin-right: 0;
}
.nav-item{
    padding: 0 15px;
}
.nav-link{
    font-family: "Commissioner", serif;
    color: #62636C;
    font-weight: 400;
    line-height: normal;
    font-size: 16px;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.nav-link:hover{
   color:gold

}
.navbar-button{
    background-color: #7678ED;
    color: #fff;
    font-family: "Commissioner", serif;
    font-weight: 500;
    font-size: 14px;
    padding: 16px 32px;
    border: none;
    
}

/* ===== navbar part end here ===== */

/* == banner section start === */
#banner{
    margin-top: 48px;
}
.banner-left h1{
    font-weight: 600;
    line-height: 76px; font-size: 56px; font-family: "Commissioner", serif;
    color: #13132C;

}
.banner-left p{
    font-family: "Commissioner", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:  #898998;
    padding-right: 215px;
    margin-top: 16px;
}
.banner-button{
    display: flex;
    column-gap: 16px;
    margin-top: 27px;
}
.banner-button button{
    background-color: #7678ED;
    color: #fff;
    font-family: "Commissioner", serif;
    font-weight: 500;
    font-size: 14px;
    padding: 18px 40px;
    border: 1px solid #7678ED;
    transition: all linear 0.3s;
    
}
.banner-button button:hover{
    background-color: transparent;
    color: #7678ED;
    border: 1px solid #7678ED;
}
.number-users{
    display: flex;
    column-gap: 24px;
    margin-top: 36px;
}
#banner span strong{
    color:  #F18701;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    font-family: "Commissioner", serif;
}
#banner span{
    font-family: "Commissioner", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #13132C;

}
.banner-right img{
    width: 100%;
    height: 520px;
    object-fit: cover;
    overflow: hidden;
}
.banner-right .banner-feature img{
    width: 220px;
    height: 240px;
}
.banner-right .banner-feature{
    top: 45%;
    left: -100px;
    

}


/* == banner section end === */
/* == podcast section start here=== */
#podcast{
    margin-top: 48px;
    margin-bottom: 48px;
}
#podcast h4{
    text-align: center;
    font-family: "Commissioner", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px; /* 145.833% */
    text-transform: capitalize;
    color: #13132C;
}
#podcast p{
    text-align: center;
    font-family: "Commissioner", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    color: #898998;
}
.podcast-section{
    margin-top: 48px;
}
.podcast-section .podcast-item{
    /* background: #FFF; */
    padding: 24px 35px;
    box-shadow: 10px 32px 72px 0px rgba(15, 13, 35, 0.04);
    text-align: center;
}
.podcast-item-body h5{
    color: #13132C;
    line-height: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    font-family: "Commissioner", serif;
    margin-top: 16px;
}
.podcast-item-body p{
    color: #898998;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    font-family: "Commissioner", serif;
    margin-top: 16px;
}
/* === podcast section end here === */

/* --- service section start here---  */
#service{
    padding: 114px 0;
    /* background-color: #fff; */
}
.service-left h4{
    font-size: 48px;
    font-weight: 600;
    line-height: 70px; /* 145.833% */
    text-transform: capitalize;
    color: #13132C;
    font-family: "Commissioner", serif;
}
.service-left p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 145.833% */
    /* text-transform: capitalize; */
    color: #898998;
    font-family: "Commissioner", serif;
    padding-right: 130px;
    margin-top: 16px;
}
.service-left ul{
   
    margin-top: 32px;
}
.service-left li{
    display: flex;
    column-gap: 12px;
    
    /* justify-content: center; */
    align-items: center;
    
    margin-bottom: 16px;
}
.service-left li .service-checkbox{
    height: 24px;width: 24px;
    background: #F18701;
    color: #fff;
    border-radius: 50%;
    display: flex;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.service-left li span{
    font-family: "Commissioner", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #13132C;
}
.service-button{
    margin-top: 40px;
}
.service-button button{
    background-color: #7678ED;
    color: #fff;
    font-family: "Commissioner", serif;
    font-weight: 500;
    font-size: 14px;
    padding: 18px 40px;
    border: 1px solid #7678ED;
    transition: all linear 0.3s;
    
}
.service-button button:hover{
    background-color: #0a0ed4;
    color: #fff;
}
/* --service section end here--- */


/* --popular section start here--- */
#popular{
    padding-top: 64px;
    padding-bottom: 64px;
    background: #FAFAFA;
}
#popular .popular-header h4{
    font-size: 48px;
    font-weight: 600;
    line-height: 70px; /* 145.833% */
    text-transform: capitalize;
    color: #13132C;
    font-family: "Commissioner", serif;
    text-align: center;
}
.popular-header p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    color: #898998;
    text-align: center;
    font-family: "Commissioner", serif;
    margin-top: 24px;
    padding-right: 30px;
}
.popular-tabs-button{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    column-gap: 16px;
}
.popular-tabs-button button{
    background-color: transparent;
    color: #898998;
    font-family: "Commissioner", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 16px 32px;
    border: 1px solid #DDD;
    transition: all linear 0.3s;
}
.popular-tabs-button button:hover{
    background-color: #7678ED;
    color: #fff;
    border: 1px solid #7678ED;
}
.popular-item{
    background: #fff;
    padding: 24px;
    box-sizing: border-box;
    margin-top: 48px;
}
.popular-image{
    height: 234px;
    overflow: hidden;
}
.popular-image img{
    width: 100%;
    height: 234px;
    object-fit: cover;
    
}
.left-content h6{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px; /* 150% */
    color: #13132C;
    font-family: "Commissioner", serif;
    margin-top: 24px;

}
.left-content ul{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px; /* 150% */
    color: #898998;
    font-family: "Commissioner", serif;
    margin-top: 10px;
    column-gap: 16px;
}
.left-content ul li:last-child{
    position: relative;
}
.left-content ul li:last-child::after{
    position: absolute;
    content: "";
    top: 50%;
    left: -8px;
    transform: translateY(-50%);
    width: 4px;height: 4px;
    border-radius: 50%;
    background-color: #7678ED;
}
.play-button button{
    width: 48px;height: 48px;
    border-radius: 50%;
    color: #7678ED;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #f2f2f2;
    font-size: 12px;
}
.tabs-more-button button{
    margin-top: 48px;
    background-color: #7678ED;
    color: #fff;
    font-family: "Commissioner", serif;
    font-weight: 600;
    font-size: 16px;
    padding: 18px 40px;
    border: 1px solid #7678ED;
    transition: all linear 0.3s;
}
.tabs-more-button button:hover{
    background-color: transparent;
    color: #7678ED;
    border: 1px solid #7678ED;
}

/* --popular section end here--- */


/* --plan section start here--- */
#plan{
    padding-top: 48px;
    padding-bottom: 48px;
    background: #FAFAFA;
}
#plan .plan-header h4{
    font-size: 48px;
    font-weight: 600;
    line-height: 70px; /* 145.833% */
    text-transform: capitalize;
    color: #13132C;
    font-family: "Commissioner", serif;
    text-align: center;
}
#plan .plan-header p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    color: #898998;
    text-align: center;
    font-family: "Commissioner", serif;
    margin-top: 24px;
    padding:0 120px;
}
.plan-button{
    display: flex;
    justify-content: center;
    column-gap: 24px;
}
.plan-button button{
    margin-top: 48px;
    background-color: transparent;
    color: #898998;
    font-family: "Commissioner", serif;
    font-weight: 500;
    font-size: 14px;
    padding: 16px 32px;
    line-height: 16px;
    border: 1px solid #DDD;
    transition: all linear 0.3s;
}
.plan-button button:hover{
    background-color: #7678ED;
    color: #fff;
    border: 1px solid #7678ED;
}
.pricing-box{
    box-shadow: 10px 32px 72px 0px rgba(15, 13, 35, 0.1);
    background: #fff;
    padding: 24px;
    margin-top: 48px;
    cursor: pointer;
    transition: all linear 0.3s;
}
.pricing-box:hover{
    background: #7678ED;
    
}
.pricing-box:hover h4{
    color: #fff;
}
.pricing-box:hover p{
    color: #fff;
}
.pricing-box:hover .pricing-list-service{
    color: #fff;
}
.pricing-box:hover .price{
    color: #fff;
}
.pricing-box:hover .price strong{
    color: #fff;
}
.pricing-box h4{
    font-size: 32px;
    font-weight: 500;
    line-height: 38px; /* 150% */
    color: #13132C;
    font-family: "Commissioner", serif;
    text-align: center;
    /* margin-top: 24px; */
}
.pricing-box p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    color: #898998;
    font-family: "Commissioner", serif;
    text-align: center;
    margin-top: 24px;
    padding:0 50px;
}
.pricing-box .price{
    margin-top: 24px;
}
.pricing-box .price strong{
    font-size: 40px;
    font-weight: 500;
    line-height: 48px; /* 145.833% */
    color: #13132C;
    font-family: "Commissioner", serif;
   
}
.pricing-box .price{
    /* text-align: right; */
    font-size: 16px;
    font-weight: 400;
    line-height: normal; /* 145.833% */
    color: #898998;
    font-family: "Commissioner", serif;
    
   
}

.pricing-box ul{
   
    margin-top: 32px;
}
.pricing-box li{
    display: flex;
    column-gap: 12px;
    
    /* justify-content: center; */
    align-items: center;
    
    margin-bottom: 16px;
}
.pricing-box li .plan-checkbox{
    height: 24px;width: 24px;
    background: #7678ED;
    color: #fff;
    border-radius: 50%;
    display: flex;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.pricing-box li span{
    font-family: "Commissioner", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #13132C;
}
.learn-button button{
    width: 100%;
    margin-top: 24px;
    background-color: transparent;
    color: #7678ED;
    font-family: "Commissioner", serif;
    font-weight: 600;
    font-size: 16px;
    padding: 18px 0;
    border: 1px solid #7678ED;
    transition: all linear 0.3s;
}
.pricing-box:hover .learn-button button{
    background-color: #fff;
    color: #7678ED;
    border: 1px solid transparent;
}
.pricing-box:hover .pricing-list-service .plan-checkbox{
    background: #fff;
    
}
.pricing-box:hover .pricing-list-service span{
    color: #fff;
}
.pricing-box:hover .pricing-list-service i{
    color: #7678ED;
}

/* --plan section end here--- */

/* --testimonial section start here--- */
#testimonial{
    padding-top: 48px;
    padding-bottom: 48px;
    background: #FAFAFA;
}
#testimonial h4{
    font-size: 48px;
    font-weight: 600;
    line-height: 70px; /* 145.833% */
    text-transform: capitalize;
    color: #13132C;
    font-family: "Commissioner", serif;
    
}
.testimonial-button button{
    background-color: #7678ED;
    color: #fff;
    font-family: "Commissioner", serif;
    font-weight: 600;
    font-size: 16px;
    padding: 18px 40px;
    border: 1px solid #7678ED;
    transition: all linear 0.3s;
}
.testimonial-button button:hover{
    background-color: transparent;
    color: #7678ED;
    border: 1px solid #7678ED;
}
/* --testimonial section end here--- */


/* --service section start here--- */
/* --service section end here--- */


/* --service section start here--- */
/* --service section end here--- */