*{
    padding: 0;
    margin: 0;
    /* font-family: "Commissioner", serif; */
}
ol,ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

}
a{
    text-decoration: none;

}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
    line-height: 0.8;
}
/* ===== navbar part start here ===== */
.navbar{
    padding: 26px 0;
}
.navbar-brand{
    margin-right: 0;
}
.nav-item{
    padding: 0 15px;
}
.nav-link{
    font-family: "Commissioner", serif;
    color: #62636C;
    font-weight: 400;
    line-height: normal;
    font-size: 16px;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.nav-link:hover{
   color:gold

}
.navbar-button{
    background-color: #7678ED;
    color: #fff;
    font-family: "Commissioner", serif;
    font-weight: 500;
    font-size: 14px;
    padding: 16px 32px;
    border: none;
    
}

/* ===== navbar part end here ===== */

/* == banner section start === */
#banner{
    margin-top: 48px;
}
.banner-left h1{
    font-weight: 600;
    line-height: 76px; font-size: 56px; font-family: "Commissioner", serif;
    color: #13132C;

}
.banner-left p{
    font-family: "Commissioner", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:  #898998;
    padding-right: 215px;
    margin-top: 16px;
}
.banner-button{
    display: flex;
    column-gap: 16px;
    margin-top: 27px;
}
.banner-button button{
    background-color: #7678ED;
    color: #fff;
    font-family: "Commissioner", serif;
    font-weight: 500;
    font-size: 14px;
    padding: 18px 40px;
    border: 1px solid #7678ED;
    transition: all linear 0.3s;
    
}
.banner-button button:hover{
    background-color: transparent;
    color: #7678ED;
    border: 1px solid #7678ED;
}
.number-users{
    display: flex;
    column-gap: 24px;
    margin-top: 36px;
}
#banner span strong{
    color:  #F18701;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    font-family: "Commissioner", serif;
}
#banner span{
    font-family: "Commissioner", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #13132C;

}
.banner-right img{
    width: 100%;
    height: 520px;
    object-fit: cover;
    overflow: hidden;
}
.banner-right .banner-feature img{
    width: 220px;
    height: 240px;
}
.banner-right .banner-feature{
    top: 45%;
    left: -100px;
    

}


/* == banner section end === */
/* == podcast section start here=== */
#podcast{
    margin-top: 48px;
    margin-bottom: 48px;
}
#podcast h4{
    text-align: center;
    font-family: "Commissioner", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px; /* 145.833% */
    text-transform: capitalize;
    color: #13132C;
}
#podcast p{
    text-align: center;
    font-family: "Commissioner", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    color: #898998;
}
.podcast-section{
    margin-top: 48px;
}
.podcast-section .podcast-item{
    /* background: #FFF; */
    padding: 24px 35px;
    box-shadow: 10px 32px 72px 0px rgba(15, 13, 35, 0.04);
    text-align: center;
}
.podcast-item-body h5{
    color: #13132C;
    line-height: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    font-family: "Commissioner", serif;
    margin-top: 16px;
}
.podcast-item-body p{
    color: #898998;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    font-family: "Commissioner", serif;
    margin-top: 16px;
}
/* === podcast section end here === */